<h1 class="page-header">Dashboard</h1>
<div class="table-responsive">
<form>
    <div class="form-group">
      <div class="input-group col-sm-4">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Project" ng-model="searchProject">
      </div>      
    </div>
  </form>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      	<th>Serial</th>
	        <th>Project Name</th>
	        <th>Status</th>
	        <th>Action</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="project in projects | filter:searchProject">
	      <td>{{project.id}}</td>
	      <td>{{project.name}}</td>
	      <td>{{project.status}}</td>
	      <td><a href="#!/project-details/{{project.id}}">View</a></td>
	    </tr>
	  </tbody>
	</table>
</div>